<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="Agregar producto" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                      <button pButton pRipple label="Eliminar producto" icon="pi pi-trash" class="p-button-danger" (click)="this.deleteProductsDialog = true;" [disabled]="!selectedProductIds || !selectedProductIds.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>

          <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['General.class_shoes','ProductName','price','RegisterDate','General.patent','inventoryStatus']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} productos" [(selection)]="selectedProductIds" selectionMode="multiple" [rowHover]="true"  [exportFilename]="'Productos'">
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h3 class="m-0">Administrar productos</h3>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" autocomplete="off" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                      </th>
                      <th pSortableColumn="General.class_shoes">Clase <p-sortIcon field="General.class_shoes"></p-sortIcon></th>
                      <th pSortableColumn="ProductName">Nombre <p-sortIcon field="ProductName"></p-sortIcon></th>
                      <th>Imagen</th>
                      <th pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="RegisterDate">Fecha de registro<p-sortIcon field="RegisterDate"></p-sortIcon></th>
                      <th pSortableColumn="General.patent">Marca <p-sortIcon field="General.patent"></p-sortIcon></th>
                      <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                  <tr >
                      <td>
                          <p-tableCheckbox [value]="product._id" ></p-tableCheckbox>
                      </td>
                      <td style="width:14%; min-width:10rem;"><span class="p-column-title">Clase</span>
                          {{product.General.class_shoes}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Nombre</span>
                          {{product.ProductName}}
                      </td>
                      <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
                          <img [src]="product.images[0]" [alt]="product.productName" width="100" class="shadow-4" />
                      </td>
                      <td style="width:14%; min-width:8rem;">
                          <span class="p-column-title">Precio</span>
                          {{product.price | currency:'MXN'}}
                      </td>
                      <td style="width:14%; min-width:10rem;">
                          <span class="p-column-title">Fecha de registro</span>
                          {{product.RegisterDate|date:'longDate'}}
                      </td>
                      <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Marca</span>
                        {{product.General.patent}}
                      </td>
                      <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                          <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                      </td>
                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="editProduct(product)"></button>
                              <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success" (click)="ViewProduct(product)"></button>
                              <!-- deleteProduct(product) -->
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
 <!-- DIALOG PRINCIPAL PARA AGREGAR INFROMACION DEL PRODUCTO -->
  <productinfoComponent *ngIf="productDialog" [productDialog]="productDialog" [EditProduct]="EditProduct" [product]="product" (SaveProduct)="SaveProduct($event)" (CancelRegister)="productDialog=$event"  />
  
      <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>¿Estas seguro de eliminar los productos seleccionados?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>
  </div>
</div>

