
<footer id="dk-footer" class="surface-900 text-white" >
        <div class="container py-5 px-4 text-white">
            <div class="grid">
                <div class="col-12 lg:col-4 ">
                    <div class="flex wrap flex-column align-items-center">
                        <a href="#" class="flex wrap flex-column align-items-center">
                            <img src="assets/images/logo_blanco.png" width="40%" height="40%" alt="footer_logo" class="img-fluid" >
                        </a>
                        <p class="footer-info-text">
                           En Simplemente Flow buscamos darle el mejor servicio al cliente.
                        </p>
                        <div class="">
                            <h3 class="text-white">Nuestras Redes</h3>
                            <ul class="list-none flex gap-4">
                                <li>
                                    <a href="#">
                                        <i class="pi pi-facebook " style="font-size: 1.5rem;"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="pi pi-twitter " style="font-size: 1.5rem;"></i>
                                    </a>
                                <li>
                                    <a href="#">
                                        <i class="pi pi-instagram text-red-400" style="font-size: 1.5rem;" ></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 lg:col-8">
                    <div class="grid">
                        <div class="col-6">
                            <div class="contact-us">
                                <div class="contact-info">
                                  <div class="flex align-items-center text-white">
                                    <i class="pi pi-map-marker text-white" aria-hidden="true" ></i>
                                    <h3 class="text-white">Ubicacion</h3>
                                  </div>
                                    <p>Av. Universidad #1000</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-info">
                                  <div class="flex align-items-center">
                                    <i class="pi pi-phone" aria-hidden="true"></i>
                                    <h3 class="text-white">392-106-7869</h3>
                                  </div>

                                    <p class="text-white">Llamanos para mas informacion</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 lg:col-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3 class="text-white">Accesos utiles</h3>

                                </div>
                                <ul class="list-none p-0">
                                    <li>
                                        <a routerLink="Us">Nosotros</a>
                                    </li>
                                    <li>
                                        <a routerLink="Return-policity">Devoluciones</a>
                                    </li>
                                    <li>
                                        <a routerLink="Us">Nuestro equipo</a>
                                    </li>
                                    <li>
                                      <a routerLink="Contact">Contactanos</a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 lg:col-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3 class="text-white">Encuentranos</h3>
                                </div>
                                <p class="text-white">
                                  Puedes encontrarnos de lunes a viernas de 9:00 am a 8:00 pm</p>
                                  <a href="SimplementeFlow/FindUs" class="align-items-center flex wrap justify-content-center">
                                    <img src="assets/images/store.jpg" alt="" class="w-18rem">
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</footer>
