<!-- carrucel inicial -->
<p-carousel [value]="adverticers" [numVisible]="1" [numScroll]="1" [circular]="true"  [indicatorStyleClass]="'border-circle'" [indicatorStyle]="{'width':'15px','height': '15px'}" class="m-0 p-0">
  <ng-template let-advertice pTemplate="item">
      <div class="text-center py-3" style="height: 600px;" >
        <a href="{{advertice.url}}">
        <img src="{{advertice.img}}" alt="Carrucel" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>
  </ng-template>
</p-carousel>
<!-- Carrucel Ofertas -->
      <div class="text-center py-3 px-3" style="height: 450px;width: 100%;" >
        <a href="" class="w-full h-full" style="object-fit: contain;">
        <img src="assets/images/ofertas.jpg" alt="ofertas" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>
<!-- CARRUCEL NIÑOS -->

      <div class="text-center py-3 px-3" style="height: 350px; width: 100%;" >
        <a href="">
        <img src="assets/images/niños.jpg" alt="niños" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>
