<!-- carrucel inicial -->

<p-toast position="top-left" [baseZIndex]="5000" [life]=5000 [style]="{'background': 'linear-gradient(0deg, rgba(97,99,99,1) 0%, rgba(191,188,181,1) 60%)','color': 'white','border-radius':'15px','width':'250px'}">
  <ng-template let-message pTemplate="message" style="padding: 0;">
      <div class="flex flex-column justify-content-center" style="flex: 1 ;">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'USD'}}</p>
              <img src="{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="See favorites" (click)="NavigateFav()" severity="secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
  </p-toast>
<p-carousel [value]="adverticers" [numVisible]="1" [numScroll]="1" [circular]="true"  [indicatorStyleClass]="'border-circle'" [indicatorStyle]="{'width':'15px','height': '15px'}" class="m-0 p-0" [autoplayInterval]="4000">
  <ng-template let-advertice pTemplate="item">
      <div class="text-center py-3" style="height: 600px;" >
        <a href="{{advertice.url}}">
        <img src="{{advertice.img}}" alt="Carrucel" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>
  </ng-template>
</p-carousel>
<product-carrucel [Title]="CarouselTitles[0]" (mensajeEnviado)="mostrarToast($event)" ></product-carrucel>
<!-- Carrucel Ofertas -->
      <div class="text-center py-3 px-3" style="height: 450px;width: 100%;" >
        <a href="" class="w-full h-full" style="object-fit: contain;">
        <img src="assets/images/ofertas.jpg" alt="ofertas" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>
<!-- CARRUCEL NIÑOS -->
<product-carrucel [Title]="CarouselTitles[1]" (mensajeEnviado)="mostrarToast($event)"></product-carrucel>
      <div class="text-center py-3 px-3" style="height: 350px; width: 100%;" >
        <a href="">
        <img src="assets/images/niños.jpg" alt="niños" class="w-full h-full" style="object-fit: contain;">
      </a>
    </div>

    <product-carrucel [Title]="CarouselTitles[2]" (mensajeEnviado)="mostrarToast($event)"></product-carrucel>

    <div class="text-center py-3 px-3" style="height: 350px; width: 100%;" >
      <a href="">
      <img src="assets/images/niños.jpg" alt="niños" class="w-full h-full" style="object-fit: contain;">
    </a>
  </div>
  <product-carrucel [Title]="CarouselTitles[3]" (mensajeEnviado)="mostrarToast($event)"></product-carrucel>
  <product-carrucel [Title]="CarouselTitles[4]" (mensajeEnviado)="mostrarToast($event)"></product-carrucel>


