<div class="p-8">
  <h1>Cambiar contraseña</h1>
  <hr>
  <form (ngSubmit)="ChangePassword()" [formGroup]="passForm">
<div class="field">
  <label for="pass">Contraseña actual</label>
  <p-password   formControlName="Password"  [feedback]="false" [toggleMask]="true" styleClass="tu-clase" [ngClass]="{'ng-invalid ng-dirty':!passForm.controls['Password'].valid&&passForm.controls['Password'].touched}"></p-password>

  <small id="pass-help">Ingrese la contraseña actual para cambiarla</small>
  <small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['Password'].getError('required')&&passForm.controls['Password'].touched"><br>Este campo es obligatorio</small>
</div>
<div class="field">
  <label for="username">Nueva contraseña</label>
  <p-password formControlName="NewPassword" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty':!passForm.controls['NewPassword'].valid&&passForm.controls['NewPassword'].touched}">

    <ng-template pTemplate="header">
        <h6>Inserte contraseña</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Sugerencias</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li><i class="bi bi-check" *ngIf="HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos una letra miniscula</li>
            <li><i class="bi bi-check" *ngIf="HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos una letra mayuscula</li>
            <li><i class="bi bi-check" *ngIf="HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos un numero</li>
            <li><i class="bi bi-check" *ngIf="passForm.controls['NewPassword'].value.length>=10" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="passForm.controls['NewPassword'].value.length<10" style="color: rgb(255, 0, 0);"></i>Minimo 10 caracteres</li>
        </ul>
    </ng-template>
</p-password>
<small id="NewPassword-help">Ingrese la contraseña en considerando las sugerencias</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('required')&&passForm.controls['NewPassword'].touched"><br>Este campo es obligatorio</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('minlength')&&passForm.controls['NewPassword'].touched"><br>Este campo debe de contener minimo {{passForm.controls['NewPassword'].value.length}}-10 caracteres</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('pattern')&&passForm.controls['NewPassword'].touched"><br>No cumple con los requisitos minimo</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('Equalspasswords')&&passForm.controls['NewPassword'].touched"><br>La contraseña neuva no puede ser igual a la anterior</small>

</div>
<div class="field">
  <label for="username">Confirmar contraseña</label>
  <p-password formControlName="ConfirmNewPassword" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty': !passForm.controls['ConfirmNewPassword'].valid&&passForm.controls['ConfirmNewPassword'].touched}">
    <ng-template pTemplate="header">
        <h6>Inserte contraseña</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Sugerencias</p>
        <ul class="pl-2 ml-2 mt-0 list-none" style="line-height: 1.5">
          <li><i class="bi bi-check"   *ngIf="HasLower(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasLower(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(255, 0, 0);"></i>Por lo menos una letra miniscula</li>
            <li><i class="bi bi-check" *ngIf="HasUpper(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasUpper(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(255, 0, 0);"></i>Por lo menos una mayuscula</li>
            <li><i class="bi bi-check" *ngIf="HasNumber(passForm.controls['ConfirmNewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasNumber(passForm.controls['ConfirmNewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos un numero</li>
            <li><i class="bi bi-check" *ngIf="passForm.controls['ConfirmNewPassword'].value.length>=10" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="passForm.controls['ConfirmNewPassword'].value.length<10" style="color: rgb(255, 0, 0);"></i>Minimo 10 caracteres</li>
        </ul>
    </ng-template>
</p-password>
<small id="username-help">Confirma el cambio de contraseña este campo debera ser igual al anterior.</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['ConfirmNewPassword'].getError('required')&&passForm.controls['ConfirmNewPassword'].touched"><br>Este campo es obligatorio</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['ConfirmNewPassword'].getError('FieldsDiferents')&&passForm.controls['ConfirmNewPassword'].touched"><br>Este campo debe de ser igual al campo anterior</small>
<small *ngIf="passForm.hasError('passwordsNotMatch')" class="text-danger"><br>Los campos no son iguales</small>
</div>
<div class="flex flex-row-reverse"><p-button type="submit" [disabled]="!passForm.valid" >Cambiar contraseña</p-button></div>
</form>
</div>
