<p-toast></p-toast>
<div class="p-8">
  <h1>Cambiar contraseña</h1>
  <hr>
  <form (ngSubmit)="ChangePassword()" [formGroup]="passForm">
<div class="field">
  <label for="pass">Contraseña actual</label>
  <p-password   formControlName="Password"  [feedback]="false" [toggleMask]="true" styleClass="tu-clase" [ngClass]="{'ng-invalid ng-dirty':IsInvalidField('Password')}"></p-password>
  <small id="pass-help">Ingrese la contraseña actual para cambiarla</small>
  <small id="NewPassword-help" class="text-danger" *ngIf="IsInvalidField('Password')"><br>{{GetMessageError('Password')}}</small>
</div>
<div class="field">
  <label for="username">Nueva contraseña</label>
  <p-password formControlName="NewPassword" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty':IsInvalidField('NewPassword')}">
    <ng-template pTemplate="header">
        <h6>Inserte contraseña</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Sugerencias</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li><i class="bi bi-check" *ngIf="HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos una letra miniscula</li>
            <li><i class="bi bi-check" *ngIf="HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos una letra mayuscula</li>
            <li><i class="bi bi-check" *ngIf="HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>Por lo menos un numero</li>
            <li><i class="bi bi-check" *ngIf="passForm.controls['NewPassword'].value.length>=10" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="passForm.controls['NewPassword'].value.length<10" style="color: rgb(255, 0, 0);"></i>Minimo 10 caracteres</li>
        </ul>
    </ng-template>
</p-password>
<small id="NewPassword-help">Ingrese la contraseña en considerando las sugerencias</small>
<small id="NewPassword-help" class="text-danger" *ngIf="IsInvalidField('NewPassword')"><br>{{GetMessageError('NewPassword')}}</small>

</div>
<div class="field">
  <label for="username">Confirmar contraseña</label>
  <p-password formControlName="ConfirmNewPassword" [feedback]="false" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty': IsInvalidField('ConfirmNewPassword')}">
</p-password>
<small id="username-help">Confirma el cambio de contraseña este campo debera ser igual al anterior.</small>
<small *ngIf="IsInvalidField('ConfirmNewPassword')" class="text-danger"><br>{{GetMessageError('ConfirmNewPassword')}}</small>
</div>
<div class="flex flex-row-reverse"><p-button type="submit" [disabled]="!passForm.valid" >Cambiar contraseña</p-button></div>
</form>
</div>
