<div class="p-8">
  <h1>Change password</h1>
  <hr>
  <form (ngSubmit)="ChangePassword()" [formGroup]="passForm">
<div class="field">
  <label for="pass">Current password</label>
  <p-password   formControlName="Password"  [feedback]="false" [toggleMask]="true" styleClass="tu-clase" [ngClass]="{'ng-invalid ng-dirty':!passForm.controls['Password'].valid&&passForm.controls['Password'].touched}"></p-password>

  <small id="pass-help">Enter your current password to change it.</small>
  <small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['Password'].getError('required')&&passForm.controls['Password'].touched"><br>This field is required</small>
</div>
<div class="field">
  <label for="username">New password</label>
  <p-password formControlName="NewPassword" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty':!passForm.controls['NewPassword'].valid&&passForm.controls['NewPassword'].touched}">

    <ng-template pTemplate="header">
        <h6>Pick a password</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Suggestions</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li><i class="bi bi-check" *ngIf="HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasLower(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>At least one lowercase</li>
            <li><i class="bi bi-check" *ngIf="HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasUpper(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>At least one uppercase</li>
            <li><i class="bi bi-check" *ngIf="HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasNumber(passForm.controls['NewPassword'].value)" style="color: rgb(255, 0, 0);"></i>At least one numeric</li>
            <li><i class="bi bi-check" *ngIf="passForm.controls['NewPassword'].value.length>=10" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="passForm.controls['NewPassword'].value.length<10" style="color: rgb(255, 0, 0);"></i>Minimum 10 characters</li>
        </ul>
    </ng-template>
</p-password>
<small id="NewPassword-help">Enter the new password considering considerations</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('required')&&passForm.controls['NewPassword'].touched"><br>This field is required</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('minlength')&&passForm.controls['NewPassword'].touched"><br>This field have to minimun {{passForm.controls['NewPassword'].value.length}}-10 characters</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('pattern')&&passForm.controls['NewPassword'].touched"><br>This field does not complete with templete</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['NewPassword'].getError('Equalspasswords')&&passForm.controls['NewPassword'].touched"><br>The password can't be equals that previous one</small>

</div>
<div class="field">
  <label for="username">Confirm password</label>
  <p-password formControlName="ConfirmNewPassword" [toggleMask]="true" [ngClass]="{'ng-invalid ng-dirty': !passForm.controls['ConfirmNewPassword'].valid&&passForm.controls['ConfirmNewPassword'].touched}">
    <ng-template pTemplate="header">
        <h6>Pick a password</h6>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Suggestions</p>
        <ul class="pl-2 ml-2 mt-0 list-none" style="line-height: 1.5">
          <li><i class="bi bi-check"   *ngIf="HasLower(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasLower(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(255, 0, 0);"></i>At least one lowercase</li>
            <li><i class="bi bi-check" *ngIf="HasUpper(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasUpper(passForm.controls['ConfirmNewPassword'].value)"  style="color: rgb(255, 0, 0);"></i>At least one uppercase</li>
            <li><i class="bi bi-check" *ngIf="HasNumber(passForm.controls['ConfirmNewPassword'].value)" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="!HasNumber(passForm.controls['ConfirmNewPassword'].value)" style="color: rgb(255, 0, 0);"></i>At least one numeric</li>
            <li><i class="bi bi-check" *ngIf="passForm.controls['ConfirmNewPassword'].value.length>=10" style="color: rgb(128, 255, 0);"></i><i class="bi bi-x" *ngIf="passForm.controls['ConfirmNewPassword'].value.length<10" style="color: rgb(255, 0, 0);"></i>Minimum 10 characters</li>
        </ul>
    </ng-template>
</p-password>
<small id="username-help">Confirm the password that it should be equals that previous field.</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['ConfirmNewPassword'].getError('required')&&passForm.controls['ConfirmNewPassword'].touched"><br>This field is required</small>
<small id="NewPassword-help" class="text-danger" *ngIf="passForm.controls['ConfirmNewPassword'].getError('FieldsDiferents')&&passForm.controls['ConfirmNewPassword'].touched"><br>This field should be equals that previous one</small>
<small *ngIf="passForm.hasError('passwordsNotMatch')" class="text-danger"><br>Passwords do not equals</small>
</div>
<div class="flex flex-row-reverse"><p-button type="submit" [disabled]="!passForm.valid" >Change password</p-button></div>
</form>
</div>
