<!-- Este es el contenido del header menu -->
<div class="surface-900 w-screen p-3 flex flex-wrap align-content-center justify-content-evenly gap-2 r-container">
  <div class="responsive">
    <img src="assets/images/logo_blanco.png" alt="Logo"  style="object-fit: contain;" class="h-3rem ml-2 " >
  </div>
  <div class="responsive">
    <p-button (click)="sidebarVisible = true"  [style]="{ 'background-color': 'white', 'color': 'black' ,'border': 'none' }" styleClass="p-button-rounded" icon="pi pi-align-justify" class="ml-2" label="MENU"></p-button>
  </div>
    <div class="w-9 ml-4 p-input-icon-right responsive">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Buscar productos" pInputText [(ngModel)]="value" class="w-full sm:flex-order-6" style="border-radius: 35px;" (keyup)="onKeyUp($event)"/>
    </div>
    <div class="flex gap-5 pt-2 responsive">
      <a class="pi pi-user p-0 cursor-pointer " style="font-size: 1.75rem;color: white;" (click)="op.toggle($event)"></a>
      <a routerLink="Favorites" class="pi pi-heart-fill p-0 cursor-pointer" style="font-size: 1.75rem;color: white;"></a>
      <a routerLink="Checkout" class="pi pi-shopping-cart p-0 cursor-pointer" style="font-size: 1.75rem;color: white;"></a>
    </div>
</div>
<!-- Este es el contendo de el SideBar -->
<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header"><img src="assets//images/simplemente_flow_logo.png"  class="w-3rem" alt=""><h2 class="text-center pt-4">Simplemente Flow</h2></ng-template>
  <hr>
  <ng-template pTemplate="content">
  <ul class="flex list-none flex-column gap-3 p-0">
    <li class="hover:text-blue-600 cursor-pointer" (click)="Home()">Inicio</li>
    <li class="hover:text-blue-600 cursor-pointer" routerLink="SocialResposability" >Politica de responsabilidad social</li>
    <li class="hover:text-blue-600 cursor-pointer" (click)="selectOption(option)" *ngFor="let option of Categories" routerLink="Products/Search/{{option}}">{{option}}</li>
  </ul>
</ng-template>
  <ng-template pTemplate="footer">
    <ul class="flex list-none w-full justify-content-between">
      <li class="w-3rem" *ngFor="let media of socialMedia"><a [href]="media.url" target="_blank" rel="noopener noreferrer"><i class="{{media.logo}} hover:text-blue-600"style="font-size: 1.5rem; color:black;"></i></a></li>
    </ul>
  </ng-template>
</p-sidebar>
<!-- contenido de panel emergente de usuario -->
<p-overlayPanel #op [style]="{'background-color':'rbg(236,236,236)'}">
  <div class="w-20rem flex justify-content-between p-0 m-0 surface-300">
    <div class="flex align-content-center gap-2" *ngIf="!Islog">
      <a  class="underline m-2 cursor-pointer text-600 text-sm hover:text-blue-600" (click)="op.toggle($event)" routerLink="login">Iniciar Sesion</a><span class="m-2">|</span>
      <a  class="underline m-2 cursor-pointer text-600 text-sm hover:text-blue-600"  (click)="op.toggle($event)" routerLink="NewUser">Registrarte</a>
    </div>
    <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-text" [style]="{'padding': '0' ,'color':'grey'}" (click)="op.toggle($event)"></p-button>
  </div>
  <hr class="m-0">
  <div class="text-2xl">
    <ul class="flex list-none flex-column gap-3 p-2 m-1">
      <li *ngFor="let user of OptionsU" class=" flex hover:text-blue-600 cursor-pointer" style="font-size: 16px;" (click)="op.toggle($event)" routerLink="{{user.url}}">
        <i class="{{user.icon}} p-2"></i>
        <p class="mt-2 ml-2 text-lg">{{user.label}}</p>
      </li>
    </ul>
  </div>
</p-overlayPanel>

