<!-- Este es el contenido del header menu -->
<div class="surface-900 w-full h-5rem flex align-items-center gap-2 ">
  <img src="assets/images/logo_blanco.png" alt="Logo" class="h-3rem ml-2">
  <p-button (click)="sidebarVisible = true"  [style]="{ 'background-color': 'white', 'color': 'black' ,'border': 'none' }" styleClass="p-button-rounded" icon="pi pi-align-justify" class="ml-2" label="MENU"></p-button>
    <span class="w-9 ml-5 p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Serch products" pInputText [(ngModel)]="value" class="w-full" style="border-radius: 35px;"/>
    </span>
    <div class="flex gap-5 absolute"style="right: 40px;">
      <a href="" class="pi pi-user p-2" style="font-size: 1.75rem;color: white;"></a>
      <a href="" class="pi pi-heart-fill p-2" style="font-size: 1.75rem;color: white;"></a>
      <a href="" class="pi pi-shopping-cart p-2" style="font-size: 1.75rem;color: white;"></a>
    </div>

</div>
<!-- Este es el contendo de el SideBar -->
<p-sidebar [(visible)]="sidebarVisible">
  <h3>Sidebar</h3>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</p-sidebar>
