<div *ngIf="Orders.length>0;else NoOrders" class="p-6" >
<h1>Mis pedidos</h1>
<hr>
<!-- order table -->
<div>
  <table class="my-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>FECHA</th>
        <th>TOTAL</th>
        <th>METODO DE PAGO</th>
        <th>OPCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ShowOrders">
        <td>{{ order.numOrder }}</td>
        <td>{{ order.date |date:'longDate'}}</td>
        <td>{{ order.total |currency:'MXN'}}</td>
        <td>{{ order.method }}</td>
        <td>
          <p-button (click)="ShowDetails(order.numOrder)" class="border-none" [style]="{'background-color':'grey','border':'none'}">Detalles</p-button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="flex align-items-center justify-content-end">
    <span class="mx-1 text-color">Pedidos por pagina: </span>
    <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalorders"  (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} of {totalRecords}" [showPageLinks]="false" [showFirstLastIcon]="false" ></p-paginator>
</div>
</div>
</div>
<ng-template #NoOrders>
  <div class="w-full h-full flex flex-column flex-wrap align-items-center my-5">
    <h1>Aun no tienes pedidos registrados en tu cuenta</h1>
    <img src="assets/images/Empty.png"  alt="No orders" style="height: 70vh;width: 50vw;">
  </div>
</ng-template>
