
<div class="card px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap mb-4">
    <div class="w-full lg:w-6 pl-0 lg:pr-4">
      <img src="assets/images/tienda-02.jpg" alt="Image" class="w-full border-round"></div>
      <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0 line-height-3">
        <div class="font-bold text-4xl mb-4 text-900">About us</div>
        <section>
          <h2>Welcome to SimplementeFlow!</h2>
          <p>At Your Sneaker Store Name, we are dedicated to providing you with an exceptional sneaker shopping experience. We are fashion enthusiasts and passionate about footwear, believing that a pair of sneakers can completely transform your style and comfort. That's why we strive to offer a wide range of high-quality sneakers that cater to all tastes and needs.</p>
      </section>
      <section>
          <h2>Our Story</h2>
          <p>Founded in 2020, SimplementeFlow has grown from its humble beginnings as a small local shop into an online destination for footwear lovers worldwide. Our founder, Diego Sahagun, had a clear vision: to provide access to high-quality sneakers at affordable prices. That vision remains at the heart of our company today.</p>
      </section>
      <section>
          <h2>Our Mission</h2>
          <p>Our mission at SimplementeFlow is simple: to offer you the best selection of high-quality sneakers you can find. We aim to exceed your expectations with every purchase. We work with the most recognized brands and carefully curate each pair of sneakers to ensure they meet our standards of quality and style.</p>
      </section>
      <section>
          <h2>Why Choose Us</h2>
          <ul>
              <li><strong>Unmatched Quality:</strong> We take pride in offering only the highest quality sneakers. Every pair we sell is designed to last and look amazing.</li>
              <li><strong>Variety of Styles:</strong> Our extensive selection of sneakers includes styles for every occasion, from athletic to casual and elegant.</li>
              <li><strong>First-Class Customer Service:</strong> Your satisfaction is our number one priority. Our customer service team is here to assist you every step of the way.</li>
              <li><strong>Fast and Secure Shipping:</strong> We ensure your sneakers arrive at your doorstep quickly and securely, no matter where you are.</li>
          </ul>
      </section>

  <footer>
      <p>Thank you for choosing Your Sneaker Store Name. We hope you find the perfect sneakers that suit your style and personality. Enjoy your shopping experience with us!</p>
      <p>If you have any questions or comments, please feel free to <a href="http://localhost:4200/SimplementeFlow/Contact">contact us</a>. We are here to assist you.</p>
  </footer>
      </div>
    </div>
    <div class="mt-3 md:mt-8 flex flex-column">
      <div class="col-12">
        <span class="block text-900 font-bold text-3xl mb-3 text-center">Our Team</span>
        <div class="text-center text-lg line-height-3 mb-6">We as a team are committed to delivering a functional system as close to a professional project as possible, advised by a professional on the subject. This project is intended for the presentation of a sneackers ecommerce for a modular project.</div>
      </div>

      <div class="grid" style="align-items: center;">
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/asesor.png" [preview]="true" alt="Image" width="350" height="450">
              <ng-template pTemplate="indicator">
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Jose Sandoval Gonzalez</h3>
                  <h3 class="text-white">College's Teacher</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/Eder.jpeg" [preview]="true" alt="Image" width="350" height="450">
              <ng-template pTemplate="indicator">
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Eder Yair Godinez Salazar</h3>
                  <h3 class="text-white">7º Semester Software Student</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/Paco.png" [preview]="true" alt="Image" width="350" height="450">
              <ng-template pTemplate="indicator" class="flex">
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Francisco Ortega Roman</h3>
                  <h3 class="text-white">7º Semester Software Student</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
      </div>
