
<div class="card px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap mb-4">
    <div class="w-full lg:w-6 pl-0 lg:pr-4">
      <img src="assets/images/tienda-02.jpg" alt="Image" class="w-full border-round"></div>
      <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0 line-height-3">
        <div class="font-bold text-4xl mb-4 text-900">Acerca de nosotros</div>
<section>
  <h2>¡Bienvenidos a SimplementeFlow!</h2>
  <p>En SimplementeFlow, nos dedicamos a brindarte una experiencia excepcional de compra de tenis. Somos entusiastas de la moda y apasionados por el calzado, y creemos que un par de tenis puede transformar por completo tu estilo y comodidad. Por eso, nos esforzamos por ofrecer una amplia gama de tenis de alta calidad que satisfagan todos los gustos y necesidades.</p>
</section>
<section>
  <h2>Nuestra Historia</h2>
  <p>Fundada en 2020, SimplementeFlow ha crecido desde sus humildes comienzos como una pequeña tienda local hasta convertirse en un destino en línea para amantes del calzado de todo el mundo. Nuestro fundador, Diego Sahagun, tenía una visión clara: proporcionar acceso a tenis de alta calidad a precios asequibles. Esa visión sigue siendo el corazón de nuestra empresa hoy en día.</p>
</section>
<section>
  <h2>Nuestra Misión</h2>
  <p>Nuestra misión en SimplementeFlow es simple: ofrecerte la mejor selección de tenis de alta calidad que puedas encontrar. Nuestro objetivo es superar tus expectativas en cada compra. Trabajamos con las marcas más reconocidas y seleccionamos cuidadosamente cada par de tanis para garantizar que cumplan con nuestros estándares de calidad y estilo.</p>
</section>
<section>
  <h2>¿Por Qué Elegirnos?</h2>
  <ul>
    <li><strong>Calidad Inigualable:</strong> Nos enorgullecemos de ofrecer solo tenis de la más alta calidad. Cada par que vendemos está diseñado para durar y lucir increíble.</li>
    <li><strong>Variedad de Estilos:</strong> Nuestra amplia selección de tenis incluye estilos para cada ocasión, desde deportivas hasta casuales y elegantes.</li>
    <li><strong>Servicio al Cliente de Primera Clase:</strong> Tu satisfacción es nuestra principal prioridad. Nuestro equipo de servicio al cliente está aquí para ayudarte en cada paso del camino.</li>
    <li><strong>Envío Rápido y Seguro:</strong> Nos aseguramos de que tus tenis lleguen a tu puerta de manera rápida y segura, sin importar dónde te encuentres.</li>
  </ul>
</section>
<footer>
  <p>Gracias por elegir SimplementeFlow. Esperamos que encuentres las tenis perfectas que se adapten a tu estilo y personalidad. ¡Disfruta tu experiencia de compra con nosotros!</p>
  <p>Si tienes alguna pregunta o comentario, no dudes en <a [href]="BaseUrl+'/Contact'">contactarnos</a>. Estamos aquí para ayudarte.</p>
</footer>
</div>
</div>
<div class="mt-3 md:mt-8 flex flex-column">
<div class="col-12">
  <span class="block text-900 font-bold text-3xl mb-3 text-center">Nuestro Equipo</span>
  <div class="text-center text-lg line-height-3 mb-6">Como equipo, estamos comprometidos a entregar un sistema funcional lo más cercano a un proyecto profesional como sea posible, asesorados por un profesional en el tema. Este proyecto está destinado a la presentación de un comercio electrónico de tenis para un proyecto modular.</div>
</div>

      <div class="grid" style="align-items: center;">
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/asesor.png" [preview]="true" alt="Image" width="350" height="450" imageClass="border-circle">
              <ng-template pTemplate="indicator" >
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Jose Sandoval Gonzalez</h3>
                  <h3 class="text-white">Maestro asesor de del sistema</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/Eder.jpeg" [preview]="true" alt="Image" width="350" height="450" imageClass="border-circle">
              <ng-template pTemplate="indicator">
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Eder Yair Godinez Salazar</h3>
                  <h3 class="text-white">Estudiante de ing. infromatica 7º semestre</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
        <div class="col md:col-6 lg:col-4 p-3">
          <div class="relative overflow-hidden">
            <p-image src="assets/images/Paco.png" [preview]="true" alt="Image" width="350" height="450" imageClass="border-circle">
              <ng-template pTemplate="indicator" class="flex">
                <div class="flex flex-column align-self-start text-left">
                  <h3 class="text-white">Francisco Ortega Roman</h3>
                  <h3 class="text-white">Estudiante de ing. infromatica 7º semestre</h3>
                </div>
                <div class="flex align-self-end text-left text-2xl gap-2 align-items-center">
                  <i class="bi bi-facebook hover:text-500"></i>
                  <i class="bi bi-whatsapp hover:text-500"></i>
                  <i class="bi bi-envelope-at-fill hover:text-500"></i>
                </div>
              </ng-template>
            </p-image>
          </div>
        </div>
      </div>
