
<div class="flex flex-column flex-wrap  p-5 h-full w-full">
  <h1>Detalles de pedido #{{OrderInfo.numOrder}}</h1>
  <hr>
    Informacion de usuario
    <hr>
    <div class="w-50 flex flex-wrap ml-5 my-4 gap-6">
    <div class="flex flex-column">
      <label for="name" class="font-bold">Nombre</label>
      <label for="name" class="font-bold">Apellidos</label>
      <label for="name" class="font-bold">Correo</label>
    </div>
    <div class="flex flex-column">
      <span class="mb-2">{{UserInfo.names}}</span>
      <span class="mb-2">{{UserInfo.lastnames}}</span>
      <span class="mb-2">{{UserInfo.email}}</span>
    </div>
    </div>
    <h3>INFORMACION DE ENVIO</h3>
    <hr>
    <div class="w-50 flex gap-6 flex-wrap ml-5 my-4">
      <div class="flex flex-column">
        <label for="name" class="font-bold">Calle y numero</label>
        <label for="name" class="font-bold">Codigo postal</label>
        <label for="name" class="font-bold">Colonia</label>
        <label for="name" class="font-bold">Estado</label>
        <label for="name" class="font-bold">Ciudad</label>
        <label for="name" class="font-bold">Telefono</label>
      </div>
      <div class="flex flex-column" >
        <span class="mb-2">{{UserInfo.data_Address!.Street+"  #"+UserInfo.data_Address!.number}}</span>
        <span class="mb-2">{{UserInfo.data_Address!.postal_Code}}</span>
        <span class="mb-2">{{UserInfo.data_Address!.Cologne}}</span>
        <span class="mb-2">{{UserInfo.data_Address!.State}}</span>
        <span class="mb-2">{{UserInfo.data_Address!.City}}</span>
        <span class="mb-2">{{UserInfo.phone}}</span>
    </div>
    </div>
    <h3>PRODUCTOS</h3>
    <div>
      <table class="my-table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of OrderInfo.Details">
            <td><a href="SimplementeFlow/Products/Search/EveryOne/{{order.id}}"><img src="{{order.Image}}" alt="{{order.productName}}" width="" style="object-fit: cover;"></a></td>
            <td>{{ order.productDescription}}</td>
            <td>{{ order.Amount}}</td>
            <td>{{ order.Price|currency:'MXN' }}</td>
            <td>{{ order.Price*order.Amount|currency:'MXN' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="flex flex-column border-1 border-300 border-round w-25 h-25 mt-5 p-5 surface-200 " style="margin-left: 6.5rem;">
        <div class="flex justify-content-between font-bold text-lg text-primary">
          <span>TOTAL PAGADO</span>
          <span>{{OrderInfo.TotalPay|currency:'MXN'}}</span>
        </div>
      </div>
    </div>
</div>

