<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
      <button class="logo " (click)="toggleCollapse()"><img src="assets/images/simplemente_flow_logo.png"></button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed">Simplemente Flow</div>
      <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
          <i class="pi pi-times close-icon"></i>
      </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData; let islast=last" [ngClass]="{'mt-auto':islast}">
          <span class="sidenav-nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              (click)="NavigateUrl(data.routeLink)"
              >
              <ng-container *ngIf="data.label==='Mensajes'&&PendientMails!=='0'; else Normal">
                <i class="sidenav-link-icon" [class]="data.icon" pBadge [value]="PendientMails"></i>
              </ng-container>
              <ng-template #Normal>
                <i class="sidenav-link-icon" [class]="data.icon" ></i>
              </ng-template>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                  {{data.label}}
              </span>
            </span>
      </li>
  </ul>
</div>
