<p-toast position="top-left" [baseZIndex]="5000"  [life]=10000 [style]="{'background': 'linear-gradient(0deg, rgba(97,99,99,1) 0%, rgba(191,188,181,1) 60%)','color': 'white','border-radius':'15px','width':'250px'}">
  <ng-template let-message pTemplate="message" style="padding: 0;">
      <div class="flex flex-column justify-content-center" style="flex: 1 ;" *ngIf="message.summary.includes('favoritos')||message.summary.includes('removido')">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'MXN'}}</p>
              <img src="http://localhost:3000/files/{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="Ver favoritos" (click)="Navigate('Favorites')" severity="secondary"></button>
              </div>
          </div>
      </div>
      <div class="text-base" *ngIf="!message.summary.includes('favoritos')&&message.summary.includes('Por favor')">
        {{message.summary}}
      </div>
      <div>
        <div class="flex flex-column justify-content-center" style="flex: 1 ;" *ngIf="message.summary.includes('añadido a carrito')">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary|addProducts}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'MXN'}}</p>
              <img src="{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="Ver carrito" (click)="Navigate('Checkout')" severity="secondary"></button>
              </div>
          </div>
      </div>
      </div>
  </ng-template>
  </p-toast> 
 <div class="grid m-3">
    <div class="col-6">
      <div class="card">
        <p-galleria  [value]="Product.images" [thumbnailsPosition]="'left'" [transitionInterval]="400" [responsiveOptions]="responsiveOptions" [numVisible]="5">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="'http://localhost:3000/files/'+item" style="object-fit: cover;width: 35vw; ;display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter justify-content-center align-items-center" >
                          <img [src]="'http://localhost:3000/files/'+item" [style]="{'object-fit':'cover','width': '80px'}"/>
                      </div>
                  </ng-template>
                </p-galleria>  
        </div>
      
    </div>
    <div class="col-6">
      <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="addShoppingCar()">
      <div class="flex w-full justify-content-between my-3" id="infoP">
        <h3 class="">{{Product.ProductName}}</h3>
        <h3>Precio: <h3 [ngStyle]="{'text-decoration': Product.Discount > 0 ? 'line-through' : 'none'}"> {{Product.price|currency:"MXN"}}</h3></h3>
        <h4 *ngIf="Product.Discount>0">{{Product.price*((100-Product.Discount)/100)|currency:"MXN"}}</h4>
        <like-button class="mr-8" [IsOnlikesList]="IsLike"(IsOnlikesListChange)="mostrarToast($event)"></like-button>
      </div>
      <div class="" id="sizes">
        <ul class="flex gap-4 p-0 flex-wrap justify-content-start text-center vertical-align-middle">
          <li *ngFor="let item of Product.sizes | keyvalue" class="m-1 size" [ngClass]="{'active':item.key === productForm.get('size')?.value}"><input type="radio" formControlName="size" value="{{item.key}}" name="size">{{item.key}}</li>
        </ul>
      </div>

        <p class="flex justify-content-between"><span>Cantidad</span>
          <button class="btn_quantity" type="button"  (click)="decrementQuantity()">-</button>
          {{productForm.controls['quantity'].value}}
          <button class="btn_quantity" type="button" (click)="incrementQuantity()">+</button>
        </p>

      <h3 class="m-2">Descripcion:</h3>
      <h4 class="m-2">{{Product.description}}</h4>
      <p-button type="submit" [style]="{'width':'50%','background-color':'black','border':'none','border-radius':'10px','margin-top':'50px'}" label="Añadir a carrito" class="flex justify-content-center"><i class="bi bi-bag-plus" style="font-size: 1.5rem;"></i></p-button>
    </form>
    </div>
  <div class="col-6">
    <p-table [value]="[Product.General]" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr class="text-right">
            <th class="text-right pr-8">Detalles</th>
            <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr *ngFor="let item of product | keyvalue; let i = index;let even=even;"[ngStyle]="{'background-color': even ? 'rgb(245, 245, 245)' : ''}">
          <ng-container *ngIf="item.key !== '_id'">
                <td>{{ item.key | generalDetails  }}</td>
                <td>{{  item.value  | generalDetails}}</td>
          </ng-container>
        </tr>
      </ng-template>
  </p-table>
  </div>
  <div class="col-6">
    <p-table [value]="[Product]" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Ventajas</th>
              <th>Desventajas</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr *ngFor="let item of product.adventages; let i = index;let even=even;"[ngStyle]="{'background-color': even ? 'rgb(245, 245, 245)' : ''}" style="height: 98px;">
          <ng-container>
                <td>{{ item|titlecase }}</td>
                <td>{{ product.disadventages[i]|titlecase }}</td>
          </ng-container>
        </tr>
      </ng-template>
  </p-table>
  </div>
   </div> 
   <hr>
    <h3 class="text-center mx-8 my-8 px-8">Cada uno de nuestros productos es original y único pero como todo tiene sus pros y sus contras, es por eso que recomendamos a nuestros usuarios revisar las observaciones realizadas por nuestros expertos y en base a ello tomar la mejor decisión para su compra.</h3>
    <hr>
  <hr>
<product-carrucel *ngIf="Product.ProductName" [ProductName]="Product.ProductName" [Title]="titleCarrousel" (mensajeEnviado)="showMessage($event)" ></product-carrucel>
