<div class="flex justify-content-center align-content-center w-screen h-screen">
  <div class="flex flex-column p-8 align-items-center w-6">
    <h1 class="font-bold">Legal Notice</h1>
  <h3 class="font-medium">Identification Data</h3>
  <p>
    In compliance with the provisions of Law 34/2002, of July 11, on information society services and electronic commerce,
     we inform you that the ownership of the domain www.SimplementeFlow.com corresponds to
     with CIF number B65386963, registered office at Av. Universidad #1000 Ocotlan, Jalisco, Mexico, and registered in the Mercantile Registry of Mexico,
     Volume 42469, Folio 100, Sheet 409287, Entry 9.
  </p>
  <ul class="p-0">
   <li >
     By phone, at the number +3921067869
    </li>
    <li>
      By email, writing to eder.godinez26@gmail.com
    </li>
    <li>
      In writing, by addressing Av. Universidad #1000 Ocotlan, Jalisco, Mexico.
   </li>
  </ul>
  <div class="text-left">
  <h2>
    Purpose of the websites www.SimplementeFlow.com:
  </h2>
  <p>
    The purpose of this website is to provide information about the products that SimplementeFlow offers for sale, as well as offers, promotions, exclusive launches, news, schedules, location of centers, and activities in our establishments.
  </p>
  <h2>
    Conditions and terms of website use
  </h2>
  <p>
    These conditions and terms of use regulate access to this website, its contents, and information by users. Access and navigation of this website are the sole responsibility of each user, and carrying out these actions implies accepting and knowing the legal notices and the conditions and terms of use included on this website.
  </p>
  <p>
    SimplementeFlow reserves the right, at any time, to make changes and modifications to these conditions and terms of use without prior notice.
  </p>

  <h2>
    Obligations of proper website use
  </h2>
  <p>
    The user of this website assumes the following obligations:
  </p>
  <ul>
    <li>
      To use the website correctly, following at all times the terms, conditions, and notices communicated.
    </li>
    <li>
      To make proper use of the contents and information of the website, always for exclusively lawful purposes and without contravening the current legislation at any given time or the rights of SimplementeFlow or any third party. SimplementeFlow disclaims responsibility for any content or information not created by it or published in its name without authorization, as well as responsibility arising from the misuse by users or third parties of the contents and information of this website, especially any action or activity that may harm, disable, overload, or, in general, impede the normal operation of this website, affect or damage other users or any third party. In the case of including links to other websites, SimplementeFlow declines any responsibility related to access and use of such links.
    </li>
    <li>
      Not to transmit, disseminate, or make available to third parties any information, data, messages, sound and/or image files, recordings, and, in general, any type of content that is contrary, belittles, or violates fundamental rights and public freedoms constitutionally recognized, in international Treaties, and in other legislation or that induces, incites, or promotes actions that are contrary to the law or public order, promote or incite discriminatory actions or thoughts based on sex, race, religion, beliefs, age, or condition, are contrary to the right to honor, personal and family privacy, or the image of individuals, or in any way damage, disable, overload, or, in general, impede the normal operation of this website, affect or damage other users or any third party. In the event of including links to other web pages, SimplementeFlow declines any responsibility related to access and use of such links.
    </li>
    <li>
      Not to carry out acts that constitute unfair competition, violate the secrecy of communications, incorporate viruses, or other elements that may damage the computer equipment and systems (hardware and software) of SimplementeFlow or third parties, or cause difficulties in the normal operation of the Internet network or the services provided by SimplementeFlow or third parties.
    </li>
    <li>
      Not to carry out acts of massive sending of messages directed at a plurality of people, regardless of their purpose, in which content or information from this website is included or some element that identifies SimplementeFlow.
    </li>
  </ul>
  <h2>
    Exclusion of liability
  </h2>
  <p>
    Access to this website has an indefinite duration, although SimplementeFlow does not guarantee the availability and continuity of uninterrupted operation that may occur for various reasons. Whenever possible, SimplementeFlow will provide prior notice of interruptions in the operation of our website.
  </p>
  <p>
    SimplementeFlow reserves the right to suspend the service of access to this website and without prior notice to all those users who, in the opinion of SimplementeFlow, fail to comply with the conditions and terms indicated at all times, reserving the right to take the appropriate legal actions to protect the interests of SimplementeFlow or third parties. We also reserve the right to limit access to some sections, content, or information on this website, requiring a access password for such access, if necessary.
  </p>
  <p>
    SimplementeFlow declines and excludes any responsibility that may arise from interruptions in the availability of the website, whether due to malfunctions of the web server or applications, communication infrastructures, or the software and hardware used for browsing. All responsibility is also excluded for any transmission of elements that may negatively affect computer systems (hardware and/or software).
  </p>
  <h2>
    Intellectual and industrial property
  </h2>
  <p>
    All images, names, and logos appearing on the website are protected by intellectual and industrial property laws.
  </p>
  <p>
    The entire website is protected by laws on intellectual and industrial property. The name, logo, image, figure, symbol, graphic design, and drawing of SimplementeFlow is a registered trademark exclusively owned by SimplementeFlow. Unless otherwise indicated, the intellectual and industrial property rights over this trademark and its content belong exclusively to SimplementeFlow.
  </p>
  <p>
    The reproduction, distribution, public communication, modification, and/or transformation of the contents and information of this website not expressly authorized in writing by SimplementeFlow constitute an unlawful action or use by the user who performs such action, as well as an infringement of the corresponding rights of SimplementeFlow. In particular, the use of the contents and information of this website to illustrate the activities, products, or events of other companies or to attempt to harm the rights of SimplementeFlow or third parties is prohibited. SimplementeFlow reserves the right to withdraw permission to use (if it has been expressly granted previously) any of the contents and/or information when it believes that they are harming its rights and interests or may affect those of third parties.
  </p>
  <p>
    The domains www.SimplementeFlow.com are exclusively owned by SimplementeFlow, so their use is strictly prohibited, except for prior express authorization from SimplementeFlow. The mentioned domain links to our website for the indicated purposes and serves to distinguish our brand and services from any other competitor, allowing consumers to identify said domain perfectly with the activities carried out by SimplementeFlow without any risk of confusion in the market.
  </p>
  <h2>
    Linking policy to our website
  </h2>
  <p>
    If any user, entity, or website wishes to establish any type of link or hyperlink to the website www.SimplementeFlow.com, prior authorization for the link or hyperlink must be requested in writing, and the following must also be complied with:
  </p>
  <ul>
    <li>
      Only linking to the home page of this website will be allowed. The link must be absolute and complete, that is, it must take the user to SimplementeFlow's own address, covering the entire screen extension of the page containing the link. Under no circumstances, unless expressly and in writing authorized by SimplementeFlow, may the page that makes the link reproduce the SimplementeFlow website in any way, include it as part of its website, or within one of its frames on any of the pages or content of this website.
    </li>
    <li>
      No false, inaccurate, or incorrect statements about SimplementeFlow, its managers, employees, the pages of this website, and the products and services offered therein will be included.
    </li>
    <li>
      The link will not contain any trademark, trade name, establishment label, name, graphic design, logo, slogan, or any other type of distinctive sign belonging to SimplementeFlow, nor will it imply the existence of any type of relationship between SimplementeFlow and the owner of the page from which the link is established.
    </li>
    <li>
      Under no circumstances will SimplementeFlow be responsible for the content or services made available to the public on the website from which the link to our website is established. SimplementeFlow will not be responsible, nor will it accept or approve as its own, the information, content, or statements included on the website that links to our website. For these purposes, the website from which the link is established will refrain from publishing or inserting illegal information or content, which is prohibited by current legislation, or which undermines morality, public order, or the rights of third parties, with the sole responsibility for such information and content published or inserted being that of the website.
    </li>
  </ul>
  <h2>
    Protection of personal data
  </h2>
  <p>
    The use of this website and its forms requires the prior consent of the user to the processing of their personal data. SimplementeFlow complies with the provisions of Regulation (EU) 2016/679 of the European Parliament and of the Council, of April 27, 2016, and before obtaining and processing the personal data of users on this website, our privacy policy is provided, as well as information on the exercise of rights by users in accordance with the aforementioned Regulation.
  </p>
  <h2>
    Use of cookies
  </h2>
  <p>
    This website uses its own and third-party cookies, including analytics and advertising cookies, to improve our services, compile statistical information, and analyze the browsing habits of our users. Our Cookie Policy provides information about cookies and allows users to configure or reject the installation of cookies on their devices.
  </p>
  <h2>
    Prevalence of the Mexican version
  </h2>
  <p>
    In case this website includes versions in different languages, in case of discrepancy, the Mexican version will prevail.
  </p>
  <h2>
    Applicable law and Jurisdiction
  </h2>
  <p>
    The use of this website will be governed and interpreted in accordance with Mexican law.
  </p>
  <p>
    Any dispute arising from or related to the use of this website will be submitted, with waiver of any other jurisdiction, to the jurisdiction of the Mexican courts and tribunals of the territory chosen by the user. However, this clause will not affect the rights recognized by current legislation to the user as a consumer in the event of contracting any of our products.
  </p>
  </div>
  <hr>
  <p class="align-items-end">
    © 2023 SimplementeFlow
  </p>
  </div>

  </div>
