<p-toast position="top-left" [baseZIndex]="5000" [life]=2500 [style]="{'background': 'linear-gradient(0deg, rgba(97,99,99,1) 0%, rgba(191,188,181,1) 60%)','color': 'white','border-radius':'15px','width':'250px'}">
  <ng-template let-message pTemplate="message" style="padding: 0;">
      <div class="flex flex-column justify-content-center" style="flex: 1 ;">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'USD'}}</p>
              <img src="{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="See favorites" severity="secondary" (click)="NavigateFav()"></button>
              </div>
          </div>
      </div>
  </ng-template>
  </p-toast>
  <div class="flex w-full h-5rem surface-400 flex-row-reverse justify-content-evenly align-items-center">
    <p-button *ngFor="let filter of ProductFilters" label="{{filter}}" (click)="filterProducts(filter)" [style]="{'background-color':'grey','border-color':'white'}"></p-button>
  </div>
  <h2 class="ml-5 mt-5">Search {{search}}</h2>
<product-list [Products]="Products" (mensajeEnviado)="showMessage($event)" *ngIf="Products.length>0;else NoproductsFound"></product-list>
<ng-template #NoproductsFound>
  <div class="text-center w-full h-full flex flex-column justify-content-start flex-wrap align-content-center">
    <h1 class="text-5xl">Products {{search}} does not exist</h1>
    <button class="cta" (click)="NavigateHome()">
      <span class="hover-underline-animation"> Search others </span>
      <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
          <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
      </svg>
  </button>
    <img src="assets/images/Successfulpurchase.png" width="400" height="500" style="object-fit: cover;">
  </div>
</ng-template>

