<p-toast position="top-left" [baseZIndex]="5000" [life]=2500 [style]="{'background': 'linear-gradient(0deg, rgba(97,99,99,1) 0%, rgba(191,188,181,1) 60%)','color': 'white','border-radius':'15px','width':'250px'}">
  <ng-template let-message pTemplate="message" style="padding: 0;">
      <div class="flex flex-column justify-content-center" style="flex: 1 ;">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'USD'}}</p>
              <img src="{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="See favorites" severity="secondary" (click)="NavigateFav()"></button>
              </div>
          </div>
      </div>
  </ng-template>
  </p-toast>
<product-list [Products]="Products" (mensajeEnviado)="showMessage($event)"></product-list>
