<p-toast position="top-left" [baseZIndex]="5000" [life]=2500 [style]="{'background': 'linear-gradient(0deg, rgba(97,99,99,1) 0%, rgba(191,188,181,1) 60%)','color': 'white','border-radius':'15px','width':'250px'}">
  <ng-template let-message pTemplate="message" style="padding: 0;">
      <div class="flex flex-column justify-content-center" style="flex: 1 ;">
          <div class="text-center text-base justify-items-center" style="width: 100%;" >
              <h4>{{message.summary}}</h4>
              <p>{{message.data[1]}}</p>
              <p>{{message.data[2]|currency:'USD'}}</p>
              <img src="{{message.data[0]}}" alt="" style="object-fit: cover; width: 120px;">
          </div>
          <div class="grid p-fluid">
              <div class="col-12" *ngIf="!message.summary.includes('removido')">
                  <button type="button" pButton  label="See favorites" severity="secondary" (click)="NavigateFav()"></button>
              </div>
          </div>
      </div>
  </ng-template>
  </p-toast>
  <div style="min-height: 100vh; width: 100wv;">
    <div class="flex w-full h-5rem surface-400">
      <p-dropdown *ngIf="Products.length>0" [options]="filterOptions" (onChange)="SortProducts()" [(ngModel)]="filterSelected" [style]="{'margin-top':'1rem','margin-left':'3rem','margin-bottom':'1rem','width':'300px'}"></p-dropdown>
    </div>
    <h2 class="ml-5 mt-5">Productos encontrados  "{{search}}"</h2>
    <div *ngIf="IsLoad&&Products.length>0;">
      <product-list [Products]="Products" (mensajeEnviado)="showMessage($event)" ></product-list>
      <div class="ml-8 flex align-items-center justify-content-center">
        <span class="mx-1 text-color">Products por pagina: </span>
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalProducts"  (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} of {totalRecords}" [showPageLinks]="false" [showFirstLastIcon]="false" ></p-paginator>
    </div>
    </div>
    <!-- skeleton de productos buscados -->
    <div *ngIf="!IsLoad" class="flex gap-1 flex-wrap mx-3" >
      <div *ngFor="let item of [1,2,3,4,5,6]" style="width: 32vw;">
        <div class="flex flex-column justify-content-between">
          <div class="flex flex-row-reverse justify-content-end mb-1 px-3">
            <p-skeleton shape="circle" size="3rem" styleClass="mb-1"></p-skeleton>
          </div>
          <p-skeleton width="100%" height="200px" styleClass="mb-3"></p-skeleton>
          <div class="px-3">
            <p-skeleton width="50%" styleClass="mb-2 "></p-skeleton>
          <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="50%" styleClass="mb-2"></p-skeleton>
          </div>
        </div>
      </div>

    </div>
  <div *ngIf="IsLoad&&Products.length===0">
    <div class="text-center w-full h-full flex flex-column justify-content-start flex-wrap align-content-center">
      <h1 class="text-5xl">Producto {{search}} no encontrado</h1>
      <button class="cta" (click)="NavigateHome()">
        <span class="hover-underline-animation"> Buscar otros</span>
        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
            <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
        </svg>
    </button>
      <img src="assets/images/Successfulpurchase.png" width="400" height="500" style="object-fit: cover;">
    </div>
  </div>
  </div>
