
<div class="block text-center surface-200 h-4rem">
  <h2 class="p-2">
    Articulos guardados
  </h2>
</div>
<div *ngIf="Products.length>0; else TheresNotLikes">
<p-dropdown [options]="filterOptions" [(ngModel)]="filterSelected" optionLabel="name" [style]="{'margin-top':'1rem','margin-left':'3rem','margin-bottom':'1rem','width':'300px'}"></p-dropdown>
<div class="checkout-list mt-2">
<div class="text-700 text-center p-1 text-base " *ngFor="let product of Products">
  <favorite-card (deleteProduct)="Delete($event)" [Product]="product" (deleteProduct)="ProductDelete"></favorite-card>

  <div ngSwitch="{{Condition}}">
    <ng-template [ngSwitchCase]="2">
      <p-button (onClick)="AddCar(product._id.$oid)" label="Añadir a carrito" [style]="{'width':'80%','background-color':'transparent','color':'black','border-color':'green'}"></p-button>
    </ng-template>
    <ng-template [ngSwitchCase]="3">
      <p-button (onClick)="SearchSimilar(product._id.$oid,product.ProductName)" label="Buscar similares" [style]="{'width':'80%','background-color':'transparent','color':'black','border-color':'gray'}"></p-button>
</ng-template>
  </div>
</div>
</div>
</div>


<ng-template #TheresNotLikes>
    <div class="text-center w-full h-screen flex flex-column justify-content-center flex-wrap align-content-center">
    <h1 class="text-5xl">No hay productos en tu lista de favoritos</h1>
    <button class="cta">
      <span class="hover-underline-animation"> compra ahora </span>
      <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
          <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
      </svg>
  </button>
    <img src="assets/images/Successfulpurchase.png" width="400" height="500" style="object-fit: cover;">
  </div>
  </ng-template>
