.checkout-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: dense;
}

@media (max-width: 768px) {
  .checkout-list {
    grid-template-columns: repeat(2, 1fr); /* Cambiar a 2 columnas en pantallas más pequeñas */
    grid-template-rows: repeat(3, 1fr); /* Cambiar a 3 filas en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .checkout-list {
    grid-template-columns: repeat(1, 1fr); /* Cambiar a 1 columna en pantallas aún más pequeñas */
    grid-template-rows: repeat(6, 1fr); /* Cambiar a 6 filas en pantallas aún más pequeñas */
  }
}
.a{
   padding: 10px;
   text-align: center;
   color: #333;
   font-size: 16px;
 }
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
p-botton{
  background-color: #000000;
}
