<p-toast></p-toast>
<div style="min-height: 100vh;width: 100wv;">
  <div class="grid" *ngIf="!Isloading">
    <div class="xl:col-8 md:col-12" >
      <div *ngFor="let product of [1,2,3,4,5]">
        <div class="flex my-3 text-lg justify-content-around flex-wrap">
          <div style="min-width: 350px">
            <p-skeleton width="100%" height="100%" styleClass="mb-3" ></p-skeleton>
          </div>
        <div style="width: 40%;" class="my-3 flex flex-column align-content-between justify-content-evenly">
          <p-skeleton width="100%" height="16px" styleClass="mb-3"></p-skeleton>
        <div class="flex justify-content-around my-3">
          <p-skeleton width="100%" height="16px" styleClass="mb-3"></p-skeleton>
          <p-skeleton width="100%" height="16px" styleClass="mb-3"></p-skeleton>
        </div>
        <div class="flex flex-column">
          <p-skeleton width="100%" height="10px" styleClass="mb-3"></p-skeleton>
          <label for="size">
            <p-skeleton width="100%" height="10px" styleClass="mb-3"></p-skeleton>
          </label>
        </div>
      </div>
      <div>
          <p-skeleton shape="circle" size="2rem" styleClass="mb-3"></p-skeleton>
        </div>
        </div>

      </div>
    </div>
    <div class="my-8 pr-8 xl:col-4 md:col-12 px-3 sm:col-12 xs">
      <p-skeleton width="100%" height="15px" styleClass="mb-3"></p-skeleton>
        <p-skeleton width="100%" height="20px" styleClass="mb-5"></p-skeleton>
        <div>
            <p-skeleton width="100%" height="40px"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="grid" *ngIf="Isloading&&Checkoutlist.Details.length>0;else CardEmpty">
    <div class="xl:col-8 md:col-12" >
      <div *ngFor="let product of Checkoutlist.Details; let i = index">
        <checkout-card [productCheckout]="product" [AllowSizes]="AllowSizes" (MoreLestProduct)="ModifyQuantity($event)" (deleteProduct)="deleteProduct($event)"></checkout-card>
      </div>
    </div>
    <div class="my-8 pr-8 xl:col-4 md:col-12 px-3 sm:col-12 xs">
      <h1>Total a pagar</h1>
      <hr>
      <h3>
        {{totalPay|currency:'MXN'}}
      </h3>
      <hr>
      <div>
        <button class="Btn" (click)="CreateCheckOut()">
          Pagar
          <svg viewBox="0 0 576 512" class="svgIcon"><path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path></svg>
        </button>
      </div>
    </div>
  </div>
  <ng-template #CardEmpty>
    <div class="text-center w-full h-full flex flex-column justify-content-start flex-wrap align-content-center mt-8">
      <h1 class="text-5xl">No hay productos añadidos a tu carrito</h1>
      <button class="cta" (click)="GoHome()">
        <span class="hover-underline-animation"> Ir a comprar </span>
        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
            <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
        </svg>
    </button>
    <img src="assets/images/Empty.png" width="400" height="500" alt="">
    </div>>
  </ng-template>

</div>
