.product-badge.status-shipped {
  background: #C8E6C9;
  color: #256029;
  border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}
.product-badge.status-cancel {
  background: #FFCDD2;
    color: #c63737;
    border-radius: 5px;
  padding: 3px;
  font-weight: bold;
}
.product-badge.status-pending {
  background: #FEEDAF;
    color: #8a5340;
    border-radius: 5px;
   padding: 3px;
    font-weight: bold;
}
.my-table {
  margin: auto;
  width: 90%; /* Tamaño de la tabla al 100% del contenedor */
  border-collapse: collapse; /* Bordes de celdas colapsados */
}

.my-table th, .my-table td {
  text-align: center; /* Alineación de texto en el centro de las celdas */
  padding: 8px; /* Espaciado interno de las celdas */
  border: 1px solid #ddd; /* Borde de las celdas */
}

.my-table th {
  background-color: #f2f2f2; /* Fondo de las celdas de encabezado */
}


