:host ::ng-deep{
  .p-button{
    margin-right: 40px;
    border-radius: 20px;
    background-color:#b7b7b7;
    color: white;
    font-size: 1.3rem;
    border-color:#c1c1c1;
    transition: all 1s ;
  }
  .p-button:hover{
    background-color: rgb(233, 233, 233);
    border-color: darkgrey;
    color: black;
  }
}
.btn_quantity{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:white;
  border:none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ;
}
.btn_quantity:hover{
  background-color:#c1c1c1;
  color: white;
}
