<div class="flex my-3 text-lg justify-content-around"*ngIf="productCheckout.Amount>0">
  <div style="width: 33%;">
    <a href="SimplementeFlow/Products/Search/{{productCheckout.Category}}/{{productCheckout._id}}">
  <img [src]="productCheckout.Image" [alt]="productCheckout.productName" width="100%" height="100%"  style="object-fit: cover;"></a>
  </div>
<div style="width: 40%;" class="my-3 flex flex-column align-content-between justify-content-evenly">
  <strong ><p>{{productCheckout.patent}}</p></strong>
<div class="flex justify-content-around my-3">
  <p>{{productCheckout.productName}}</p>
  <p>{{productCheckout.Price|currency:'MXN'}}</p>
</div>
<div class="flex flex-column">
  <p class="flex justify-content-between"><span>Cantidad</span>
    <button class="btn_quantity"  (click)="Descreaseproduct(productCheckout._id!)">-</button>
    {{productCheckout.Amount}}
    <button class="btn_quantity"  (click)="IncreaseProduct(productCheckout._id!)">+</button>
  </p>
  <label for="size">Talla:
    <select name="size" class="w-50 h-2rem border-none" style="margin-left: 2.2rem;">
      <option *ngFor="let size of AllowSizesObject | keyvalue" class="text-right" value="{{size.value[0]}}" [attr.selected]="CompareSizes(size.value[0],productCheckout.Size) ? true : null">{{size.value[0]}}</option>
    </select>
  </label>
</div>
</div>
<div>
  <p-button icon="bi bi-trash" (onClick)="deleteProduct.emit(productCheckout._id)"></p-button>
</div>
</div>
