<div class="flex my-3 text-lg">
  <div style="width: 33%;">
    <a href="SimplementeFlow/Products/Search/{{productCheckout.age}}/{{productCheckout.id}}">
  <img [src]="productCheckout.Image" [alt]="productCheckout.productName" width="100%" height="100%"  style="object-fit: cover;"></a>
  </div>
<div style="width: 40%;" class="my-3 flex flex-column align-content-between justify-content-evenly">
  <strong ><p>{{productCheckout.patent}}</p></strong>
<div class="flex justify-content-around my-3">
  <p>{{productCheckout.productName}}</p>
  <p>{{productCheckout.Price|currency}}</p>
</div>
<div class="flex flex-column">
  <label for="quantity">quantity: <select name="quantity" class="w-50 h-2rem border-none">
<option value="{{productCheckout.Amount}}" class="text-right">{{productCheckout.Amount}}</option>
  </select> </label>
  <label for="size">size:
    <select name="size" id="" class="w-50 h-2rem border-none" style="margin-left: 2.2rem;">
      <option value="{{productCheckout.Size}}" class="text-right">{{productCheckout.Size}}</option>
    </select>
  </label>
</div>
</div>
<div>
  <p-button icon="bi bi-trash" (onClick)="deleteProduct.emit(productCheckout.id)"></p-button>
</div>
</div>
