<div class="flex flex-column p-8 align-items-center">
  <h1 class="font-bold text-3xl">Devoluciones</h1>
<h3 class="font-medium text-2xl">Condiciones para devolver uno o más artículos</h3>
<ul class="text-2xl">
  <li>
    <p>
      Debes realizar la devolución dentro de los 14 días posteriores desde que recibiste los productos.
    </p>
  </li>
  <li>
    <p>
      La devolución se debe realizar desde el mismo país al que se hizo el envío.
    </p>
  </li>
  <li>
    <p>
      El artículo debe estar en su estado original,<strong> sin usar, sin alterar y sin lavar.</strong>
    </p>
    <ul>
      <li>Calzado: asegúrate de probar el calzado con calcetines limpios. Para no dañar la suela del calzado nuevo, pruébalo en una superficie protegida.</li>
    </ul>
  </li>
  <li>
    <p>
      Informarte que no realizamos cambios. Si lo deseas, puedes tramitar una devolución y realizar un nuevo pedido con la talla deseada.
    </p>
  </li>
  <li>
    <p>El artículo debe devolverse con las etiquetas y el embalaje en su estado original.</p>
      <ul>
        <li>
          Calzado: la caja original debe estar en perfecto estado.
        </li>
        <li>
          Ropa: protégela con su embalaje original o con una bolsa. No te olvides de incluir las etiquetas de los productos.
        </li>
        <li>
          Cosmética, Skin Care: Cuidado de la Piel, Perfumes, Velas y Aromas: deben devolverse sin usar, sin abrir y con sus sellos de seguridad.
        </li>
      </ul>
  </li>
  <li>
    No podrá ser procesada la devolución de calcetines, ropa interior y bañadores.
  </li>
</ul>
</div>
